# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

build_file: "chrome-enterprise-premium-mcp/kokoro/build.sh"

# TODO(feel): Replace 12345 with your actual Keystore Config ID
# and "github-bot-token" with your actual Key Name.
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 12345
      keyname: "github-bot-token"
      backend: "blade:keystore-fastconfigpush"
    }
  }
}
